workflow n8n/Ozono.json
{
  "name": "Ozono",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-ozono",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -624,
        -320
      ],
      "id": "27b139ec-0697-402d-a413-a9c557b28b02",
      "name": "Chat Entrada",
      "webhookId": "2cb633f3-9147-4cb7-b27e-e6ab764346d0"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        -320
      ],
      "id": "84df0952-f60c-47d3-bfe7-fe4ee0bc4e44",
      "name": "Respond to Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sos \"Ozzy\", el chatbot oficial de Ozono CABA.\nMisión: Guiar a Puntos Verdes y educar sobre reciclaje (3R).\n\nBASE DE DATOS: {{ JSON.stringify($json.base_datos_puntos) }}\nMENSAJE USUARIO: \"{{ $json.usuario_dice }}\"\n\n---\n### GUARDRAILS (ALCANCE):\n1. **SOLO** temas ambientales/reciclaje. Si no, rechazar amablemente.\n2. **TONO:** Empático, voseo argentino, natural.\n\n---\n### CEREBRO DE DECISIÓN:\n\n**CASO 1: CONFUSIÓN / \"NO ENTIENDO\" (PRIORIDAD ALTA)**\nSi el usuario dice \"No entiendo\", \"Me explicás mejor\", \"¿Cómo?\", o parece confundido:\n1. **ACCIÓN:** No des vueltas con texto largo.\n2. **OBLIGATORIO:** Generá una frase corta de ánimo y poné un LINK DE VIDEO INMEDIATAMENTE.\n3. **FÓRMULA:** \"¡Tranqui! Es más fácil verlo que explicarlo. Mirá este paso a paso: https://www.youtube.com/results?search_query=como+reciclar+TEMA_ANTERIOR_O_GENERAL\"\n   *(Si no sabés de qué hablaban antes, usá \"reciclaje+en+casa\").*\n\n**CASO 2: UBICACIÓN / \"¿DÓNDE TIRO...?\"**\n1. Buscá en la DB.\n2. Reglas de Oro:\n   - Aceite: \"Frío y en botella cerrada\".\n   - Orgánicos: \"Jueves\".\n3. Si no hay punto cerca -> Sugerí municipio.\n\n**CASO 3: CONSEJO RRR**\n1. Explicá la técnica.\n2. **¿LLEVA LINK?**\n   - Si es algo visual (compost, manualidad, proceso complejo) -> **SÍ, LINK OBLIGATORIO**.\n   - Si es dato curioso -> No hace falta.\n\n---\n### FORMATO DE SALIDA (JSON PURO):\n{\n  \"respuesta\": \"Texto de respuesta. Si aplica Caso 1 o 3, el link de YouTube DEBE estar pegado aquí al final.\",\n  \"punto_sugerido_id\": \"ID o null\",\n  \"material\": \"Material detectado o null\",\n  \"barrio\": \"Barrio detectado o null\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        160,
        -320
      ],
      "id": "a22ed493-aac0-48b3-966b-8f9b141d1e96",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// Leemos la salida de la IA\nlet contenido = item.json.output || item.json.text || item.json.message?.content || \"\";\n\n// LIMPIEZA: Quitamos ```json y ``` que suele poner GPT-4/GPT-5\ncontenido = contenido.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\n// Regex para cazar el JSON\nconst jsonMatch = contenido.match(/\\{[\\s\\S]*\\}/);\n\nlet resultado = { \n    respuesta: \"Perdón, me marée procesando tu consulta. ¿Me la repetís?\",\n    punto_sugerido_id: null,\n    material: null,\n    barrio: null\n};\n\nif (jsonMatch) {\n  try {\n    const parsed = JSON.parse(jsonMatch[0]);\n    resultado = {\n        // Aquí llegará el link dentro del texto SOLO si la IA detectó que era necesario\n        respuesta: parsed.respuesta || \"No pude generar texto.\",\n        punto_sugerido_id: parsed.punto_sugerido_id || null,\n        material: parsed.material || null,\n        barrio: parsed.barrio || null\n    };\n  } catch (e) {\n    resultado.respuesta = contenido; // Fallback a texto plano\n  }\n} else {\n  resultado.respuesta = contenido; // Fallback a texto plano\n}\n\nreturn { json: resultado };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -320
      ],
      "id": "99c9e66b-458b-4644-b030-8a4a4579a0d9",
      "name": "Function"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/puntos-verdes/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -320
      ],
      "id": "f45792f9-66f9-4cf6-96e8-082afbd4189f",
      "name": "Cargar puntos verdes"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        -112
      ],
      "id": "479d0007-54ea-4523-931d-24f81f464456",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cR39yOwAcVSq5kWT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. INPUTS\nconst puntosRaw = $('Cargar puntos verdes').all().map(item => item.json);\nconst body = $('Chat Entrada').first().json;\n// Nos aseguramos de leer el mensaje, venga de donde venga\nconst consulta = body.mensaje || body.consulta || body.body?.mensaje || \"\"; \n\n// 2. LIMPIEZA DE DATOS (Miniatura)\n// Creamos una lista ligera con TODOS los puntos.\n// Quitamos coordenadas y datos irrelevantes para que entre todo en el prompt.\nconst todosLosPuntos = puntosRaw.map(p => ({\n    id: p.id,\n    n: p.nombre,          // Nombre\n    d: p.direccion,       // Dirección\n    b: p.barrio,          // Barrio\n    h: p.dia_hora,        // Horario\n    m: p.materiales       // Materiales\n}));\n\n// 3. SALIDA DIRECTA\nreturn {\n    json: {\n        usuario_dice: consulta,\n        base_datos_puntos: todosLosPuntos // ¡Le mandamos todo!\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -320
      ],
      "id": "a0e70ca2-25a6-4de8-a4ea-bca881c3cbc4",
      "name": "Filtrar candidatos"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Entrada": {
      "main": [
        [
          {
            "node": "Cargar puntos verdes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar puntos verdes": {
      "main": [
        [
          {
            "node": "Filtrar candidatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar candidatos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8c85b08-170d-43b0-b7b0-7584ce1a0dc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dcf494a08cfa8d4ff47d8cb125da84fd537657e692696ce6100568f14c216622"
  },
  "id": "uvTUAQ4zIKdJAHZS",
  "tags": []
}