workflow n8n/Ozono.json
{
  "name": "Ozono",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-ozono",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "08d118fd-e7c2-4445-81f4-8c707ff63c61",
      "name": "Chat Entrada",
      "webhookId": "2cb633f3-9147-4cb7-b27e-e6ab764346d0"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1392,
        0
      ],
      "id": "de50d1c8-31af-41d6-962e-65a801aabff6",
      "name": "Respond to Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sos Ozono, el asistente inteligente de reciclaje de CABA.\nTenes acceso a la BASE DE DATOS COMPLETA de Puntos Verdes abajo.\n\nDATOS:\n- Mensaje del usuario: \"{{ $json.usuario_dice }}\"\n- Base de datos (JSON): {{ JSON.stringify($json.base_datos_puntos) }}\n\nINSTRUCCIONES DE PROCESAMIENTO:\n1. Analizá el mensaje para detectar MATERIAL y BARRIO/ZONA.\n2. Buscá en la base de datos la mejor opción.\n3. Escribí la respuesta siguiendo estas reglas DE ESTILO:\n   - **CERO ROBOT:**\n   - **NATURALIDAD:** Integrá el material y el barrio en la frase de forma fluida.\n     * Bien: \"¡Dale! Para dejar esas pilas en Retiro te conviene...\"\n     * Bien: \"Buenísimo que recicles plástico. En Nuñez tenés...\"\n     * Bien: \"Si estás por esa zona con aceite, andá a...\"\n   - **VARIEDAD:** Cambiá la forma de saludar y confirmar en cada turno.\n\nRESPUESTA (Formato JSON):\n{\n  \"respuesta\": \"Tu respuesta fluida aquí. Nombre del punto, dirección y horario. Si NO hay punto en su zona (como Baradero), aclaralo amablemente y sugerí el más cercano de la lista o recomendá consultar a su municipio. Cerrá con el tip de reciclaje.\",\n  \"punto_sugerido_id\": \"ID del punto (o vacío)\",\n  \"material\": \"Material detectado\",\n  \"barrio\": \"Barrio detectado\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        784,
        0
      ],
      "id": "6d39e72a-9218-444e-89a8-6e1891b2a795",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst contenido = item.json.message?.content || item.json.output || item.json.text || \"\";\n\n// Buscamos algo que parezca un JSON (entre llaves)\nconst jsonMatch = contenido.match(/\\{[\\s\\S]*\\}/);\n\nlet resultado = { respuesta: \"\" };\n\nif (jsonMatch) {\n  try {\n    resultado = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    // Si falla el parseo, devolvemos el texto original como respuesta\n    resultado = { respuesta: contenido };\n  }\n} else {\n  // Si no se encontró ningún JSON, devolvemos el texto original\n  resultado = { respuesta: contenido };\n}\n\nreturn { json: resultado };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ],
      "id": "50fe287d-5794-483f-baf4-8bf7a553bf2b",
      "name": "Function"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/puntos-verdes/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        0
      ],
      "id": "257e8ae3-4129-45c0-8950-b8bda11cd354",
      "name": "Cargar puntos verdes"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        208
      ],
      "id": "15343a66-260b-481d-bbfa-49bb4239aeed",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QhS2OyD2ByMRaxaD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. INPUTS\nconst puntosRaw = $('Cargar puntos verdes').all().map(item => item.json);\nconst body = $('Chat Entrada').first().json;\n// Nos aseguramos de leer el mensaje, venga de donde venga\nconst consulta = body.mensaje || body.consulta || body.body?.mensaje || \"\"; \n\n// 2. LIMPIEZA DE DATOS (Miniatura)\n// Creamos una lista ligera con TODOS los puntos.\n// Quitamos coordenadas y datos irrelevantes para que entre todo en el prompt.\nconst todosLosPuntos = puntosRaw.map(p => ({\n    id: p.id,\n    n: p.nombre,          // Nombre\n    d: p.direccion,       // Dirección\n    b: p.barrio,          // Barrio\n    h: p.dia_hora,        // Horario\n    m: p.materiales       // Materiales\n}));\n\n// 3. SALIDA DIRECTA\nreturn {\n    json: {\n        usuario_dice: consulta,\n        base_datos_puntos: todosLosPuntos // ¡Le mandamos todo!\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "61ef431e-95c3-49ff-9288-bea8bc83bdfe",
      "name": "Filtrar candidatos"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Entrada": {
      "main": [
        [
          {
            "node": "Cargar puntos verdes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar puntos verdes": {
      "main": [
        [
          {
            "node": "Filtrar candidatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar candidatos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d962acff-9b45-4d4c-9f7e-88779ab5fd5b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1730ab3ec15ab720707590fd29cef490fc48e358de0ca4ee5c4f48373df47fd3"
  },
  "id": "z6uCQoZ1vf7i27HO",
  "tags": []
}